*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  background-color: 
  #ed4141;
}
.Calculator{
  width: 350px;
  height: 500px;
  padding: 8px;
  background-color: #15173c;
  color:azure;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 
  #4f4f4f;
  text-align: center;
}
h2{
  color:white;
  margin:10px;
  
}
label{
  margin:5px 20px;
  float:left;
}
input{
  width: 90%;
  height: 30px;
  padding:5px;
  margin: 10px;
  border-radius: 5px;
}
button{
  background-color:#ed4141;
  padding:5px;
  margin:10px;
  border-radius: 5px;
  width:120px;
  font-size: 16px;
  font-weight: 999;
}
p{
  margin-top: 10px;
}

@media only screen and (max-width:320px)
 {
  .Calculator{
  width: 250px;
  }
}